---
// src/components/blocks/Work.astro

import Card from '../ui/Card.astro';

interface Props {
  title: string;
  description?: string;
  tags: string[];
  href: string;
  themeColor?: string;
  pattern?: 'grid' | 'dot' | 'none';
}

const { title, description, tags, href, themeColor = '#e5e7eb', pattern = 'none' } = Astro.props;

const labelStyle = `
  --work-theme-color: ${themeColor};
`;
---

<Card href={href} isTarget class={`work u-span-2 u-row-2 pattern-${pattern}`} style={labelStyle}>
  <div class="work__visual">
    <div class="work__pattern"></div>
  </div>
  <div class="work__content">
    <h2 class="work__title u-en">{title}</h2>
    {description && <p class="work__desc">{description}</p>}
    <ul class="work__tags">
      {tags.map((tag) => <li class="work__tag u-en">{tag}</li>)}
    </ul>
  </div>
</Card>

<style lang="scss">
  @use '@/styles/config' as *;

  @layer component {
    :global(.work) {
      &.c-card {
        padding: 0;
      }

      @include hover {
        .work__visual::after {
          opacity: 0;
        }
      }
    }

    .work {
      &__visual {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: var(--work-theme-color);
        border-radius: $radius-lg;

        &::after {
          position: absolute;
          inset: 0;
          pointer-events: none;
          content: '';
          background-color: rgb(0 0 0 / 10%);
          transition: opacity 0.3s;
        }
      }

      &__pattern {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;

        :global(.pattern-grid) & {
          background-image:
            linear-gradient(rgb(255 255 255 / 30%) 1px, transparent 1px),
            linear-gradient(90deg, rgb(255 255 255 / 30%) 1px, transparent 1px);
          background-size: 20px 20px;
        }

        :global(.pattern-dot) & {
          background-image: radial-gradient(rgb(255 255 255 / 40%) 2px, transparent 2px);
          background-position:
            0 0,
            10px 10px;
          background-size: 20px 20px;
        }
      }

      &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        width: fit-content;
        max-width: calc(100% - 32px);
        padding-block: 16px;
        padding-inline: 20px;
        margin-block-start: auto;
        margin-block-end: 16px;
        margin-inline: 16px;
        background-color: $color-item;
        border: solid 1px $color-border;
        border-radius: $radius-md;
      }

      &__title {
        font-size: rem(16);
        font-weight: 700;
        line-height: 1.4;
      }

      &__desc {
        font-size: rem(12);
        line-height: 1.5;
        color: rgba($color-text, 0.7);
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;
        row-gap: 4px;
        column-gap: 8px;
      }

      &__tag {
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: 8px;
        align-items: center;
        font-size: rem(12);
        color: rgba($color-text, 0.6);

        &:not(:last-child)::after {
          color: rgba($color-text, 0.3);
          content: '/';
        }
      }
    }
  }
</style>
