---
// src/layouts/Layout.astro

import '@/styles/main.scss';
import '@fontsource/zen-old-mincho/400.css';
import '@fontsource/zen-old-mincho/500.css';
import '@fontsource/zen-old-mincho/600.css';
import '@fontsource/inter/400.css';

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage = '/ogp.png' } = Astro.props;
const siteName = 'BLOCK';
const siteUrl = Astro.site ? Astro.site.href : Astro.url.origin;
const ogImageUrl = new URL(ogImage, siteUrl).toString();
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description ?? 'Markup Engineer Portfolio'} />
    <title>{title} | {siteName}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="BLOCK" />
    <meta property="og:image" content={ogImageUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImageUrl} />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import { initSmoothScroll } from '@/script/scroll';

  initSmoothScroll();
</script>
